@import "vanilla-framework";
@include vanilla;

body {
    padding: 18px;
}

h4 {
    margin: 0;
}

[class*=p-card] > p:not([class*=p-heading--]):last-child {
    margin: 0;
}

p {
    margin: 0;
    padding: 12px 0; 
}

hr {
    margin: 0;
}

.row {
    display: flex;
}

.p-card {
    border-radius: 4px;
    border-top: 4px solid rgb(167, 124, 167);
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 0 8px lightgrey;
}

.p-card__inner {
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 300;
}

.p-card__image {
    margin: 0;
    padding: 12px 0 0 0;
}

h4.topic {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}

h4.content {
    font-size: 28px;
}

.italicized {
    font-size: 18px;
    font-style: italic;
}

.horizontal-padded {
    padding-left: 12px;
    padding-right: 12px;
}

.dotted {
    border-top: 1px dotted lightgray;
    background: none;
}